@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  @apply text-text-main
}

h1, h2, h3, h4 {
  @apply text-text-header-main
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

body {
  @apply bg-gradient-to-br;
  @apply from-slate-900;
  @apply from-30%;
  @apply to-pink-950;

  @apply flex;
  @apply justify-center;
}

main {
  @apply h-[100vh];
  @apply w-[768px];
}